/* share styles */
* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}
.primary-color {
  color: #3a3a3a;
}
.secondary-color {
  color: rgba(24, 25, 31, 1);
}
.btn {
  color: #ffffff;
  background-color: #e02c6d;
  border: none;
  border-radius: 40px;
  padding: 10px 20px;
  margin-top: 16px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}

/* header section style */
.header-section {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  margin-top: 60px;
}
.section-heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.list,
.icon {
  list-style: none;
}
.list a,
.icon a {
  text-decoration: none;
}
/* journey section related */
.start-journey {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 130px;
  margin: 100px;
}
.start-journey .text {
  max-width: 550px;
}
.start-journey .text h1 {
  font-size: 3.25rem;
  font-weight: bold;
}
.start-journey .text p {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 16px;
}
.start-journey .image {
  min-height: 475px;
  background-image: url("/images/Circle\ design.svg");
  background-repeat: no-repeat;
}
.start-journey img {
  width: 420px;
  /* align  */
  margin-top: 50px;
  margin-right: 100px;
}
/* grid image styles */
.grid-image {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 75%;
  margin: 0 auto;
  padding: 30px;
  margin-bottom: 100px;
}

/* popular collection */
.popular-collection {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.line-height {
  margin-bottom: 16px;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 70px;
}
.items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 30px;
}
.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  padding: 14px;
}
.title {
  margin-bottom: 6px;
  font-size: 1.75rem;
  font-weight: 500;
  line-height: 40px;
}

.card p {
  color: #787885;
  font-size: 0.85rem;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 1.8%;
}
.see-more {
  text-align: right;
  color: #e02c6d;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
}
.right-btn {
  display: flex;
  justify-content: end;
  width: 100%;
}
/* features section related */
.feature-section {
  display: flex;
  margin: 100px auto;
  width: 71%;

  gap: 100px;
}
.features {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 60px;
  color: #0a0826;
  margin-bottom: 16px;
}
.amet {
  max-width: 500px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 28px;
  color: #6c6c6c;
  margin-bottom: 16px;
}
.join-now {
  border-radius: 0px;
}
/* footer related styles */
footer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #03224e;
  color: #ffffff;
}

.pad {
  width: 260px;
  padding: 50px 0;
}
.gap-below {
  margin-bottom: 8px;
}
.copy {
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 8px;
}
footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
footer .icons i {
  color: #ffffff;
  padding-top: 10px;
}
footer .icons a {
  text-decoration: none;
  width: 30px;
  height: 30px;
  background-color: rgb(253, 254, 255, 0.1);
  border-radius: 50%;
}
